.formContainer {
  background-color: var(--colourTextDark);
  height: 70%;
  width: 70%;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  opacity: 0.9;
  font-size: 50px;
  color: var(--colourBackWhite);
}

.formContainer h1 {
  font-size: 25px;
}
