.homeBottomSection1-container {
  height: fit-content;
  width: 100%;
  background: var(--colourBackLilac);
  /* background: transparent; */
  color: var(--colourTextGrey);
  align-items: center;
  text-align: center;
}

.servicesContainer {
  /* background-color: var(--colourBackWhite); */
  background: var(--colourBackWhite);
  height: 350px;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
}

.homeBottomSection2-container {
  background: var(--colourBackGrey);
  color: var(--colourTextGrey);
}

.reviewsContainer {
  background-color: var(--colourBackWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
}

.reviewsContainer h1 {
  font-size: 12px;
  justify-content: right;
  padding-top: 10px;
}

.reviewsContainer h2 {
  font-size: 12px;
}

.reviewsContainer p {
  padding-left: 5%;
  padding-right: 5%;
}
