.navbar {
  background: var(--colourBackWhite);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16;
  position: sticky;
  top: 0;
  z-index: 999;
  /* overflow: hidden; */
  box-shadow: 0 4px 2px -2px #02144a94;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.Nav-Logo {
  margin-left: 20px;
  align-items: center;
  justify-self: start;
  display: flex;
  cursor: pointer;
  position: inherit;
  height: 100%;
  width: 10%;
  /* background-color: blue; */
}

.Nav-Logo img {
  /* margin-left: 20px;
  align-items: center;
  justify-self: start;
  display: flex;
  cursor: pointer;
  position: inherit; */
  width: 50%;
}

.Just2ConnectLogo {
  height: 60%;
  width: 100%;
}

img {
  position: inherit;
  width: 100%;
  height: 100%;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  /* grid-template-columns: repeat(6, auto); */
  flex-direction: row;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.navText {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: var(--colourTextGrey);
  letter-spacing: 1px;
}

.navText:hover {
  font-weight: bold;
  color: var(--colourPop);
}

.nav-links {
  color: var(--colourTextGrey);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid var(--colourBackWhite);
}

.nav-links:hover {
  border-bottom: 2px solid var(--colourPop);
  transition: all 0.2s ease-out;
  color: var(--colourPop);
}

.fa-bars {
  color: var(--colourPop);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* -------------------------- */
/* Drop Down List  */
/* -------------------------- */

.dropdown {
  display: flex;
  height: 100%;
  background-color: var(--colourBackWhite);
  border-bottom: 2px solid var(--colourBackWhite);
}

.dropdown:hover {
  border-bottom: 2px solid var(--colourPop);
  transition: all 0.2s ease-out;
  color: var(--colourPop);
}

/* Dropdown button */
.dropbtn {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  font-size: 16px;
  color: var(--colourTextGrey);
  background-color: var(--colourBackWhite);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--colourBackWhite);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 80px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: var(--colourTextGrey);
  border-bottom: 2px solid var(--colourBackWhite);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  border-bottom: 2px solid var(--colourPop);
  transition: all 0.3s ease-out;
  color: var(--colourPop);
  /* height: 80px; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.CTAPhone {
  height: 20px;
  width: auto;
  padding-right: 10px;
}

@media screen and (max-width: 640px) {
  .NavbarItems {
    position: relative;
  }

  .Nav-Logo {
    margin-left: 20px;
    align-items: center;
    justify-self: start;
    display: flex;
    cursor: pointer;
    position: inherit;
    width: 150px;
    height: auto;
  }

  .Nav-Logo img {
    margin-top: 0;
    align-items: center;
    justify-self: start;
    display: flex;
    cursor: pointer;
    position: inherit;
    width: 40%;
    height: auto;
  }

  img {
    position: inherit;
    width: 100%;
    height: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--colourBackWhite);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .dropdown {
    /* float: left;
  overflow: hidden; */
    color: var(--col ourTextGrey);
    display: table;
    text-align: center;
    align-items: center;
    width: 100%;
    /* padding: 0.5rem 1rem; */
  }

  .nav-links:hover {
    background-color: var(--colourBackWhite);
    color: var(--colourPop);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--colourBackWhite);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--colourPop);
    padding: 14px 20px;
    border: 1px solid var(--colourPop);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: var(--colourPop);
    color: var(--colourBackWhite);
    transition: 250ms;
  }

  /* -------------------------- */
  /* Drop Down List - MOBILE */
  /* -------------------------- */

  /* -------------------------- */
  /* Drop Down List  */
  /* -------------------------- */

  .dropdown {
    display: flex;
    height: 100%;
    background-color: var(--colourBackWhite);
  }

  .dropdown:hover {
    border-bottom: 2px solid var(--colourPop);
    transition: all 0.2s ease-out;
    color: var(--colourPop);
  }

  /* Dropdown button */
  .dropbtn {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    font-size: 16px;
    color: var(--colourTextGrey);
    background-color: var(--colourBackWhite);
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    background-color: var(--colourBackWhite);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
  }

  /* JZ: this is where the actual links are (above) */

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    border-bottom: 2px solid var(--colourPop);
    transition: all 0.2s ease-out;
    color: var(--colourPop);
  }
}
